:root {
    --dark: #374151;
    --description:#3A82EE;
    --date:#cc1b82;
    --light: #EEE;
    --grey: #6b7280;
 }

  {
     box-SIZING:border.box;
    :root{--grey: #6b7280}
     margin: 0;
    font family: 'Fira sans',sans-serif
    pudding: 0;
    margin: 0;

} 

body { 
    display : flex 
    flexdirection: column;
    min.height: --100vh>
    background: var

 }
    pudding: 2rem 1rem;
    max.wighth: 200px;
    width: 50px;
    margin: 0 auto

headder h1 {
    font-size: 2.3rem
    font.weight:200;
    colour:var(--blue);
    margin.bottom:1rem
}

#new-task-form { 
    display.flex
}

New-task-input {  
    flex.110%;
    background-color: #3A82EE;
    pudding: 1rem;
    border-radious = '1rem';
    margin.right: 1rem;
}

#new-task-submit:hover {
    opacity:0.8;

}

#new-task-submit:active { 
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    pudding:2rem 1rem;
}
#tasks .tasks .actions{
    display:flex;
    margin: 0 -0.5rem;
    task-colour
}
.task .reaction button{
    cursor: pointers ;
    margin: 0 -1.25rem
    font weight:700;
    
}
.task.actions .edit{
    background-image: -moz-radial-gradient --blue: #
}